/* 
    http://meyerweb.com/eric/tools/css/reset/
    v2.0-modified | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* rubik-300 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/rubik-v12-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v12-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v12-latin-300.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-regular - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v12-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-500 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v12-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v12-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v12-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* rubik-700 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/rubik-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-v12-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
  }
  /* dm-serif-display-regular - latin */
  @font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-serif-display-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/dm-serif-display-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dm-serif-display-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dm-serif-display-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dm-serif-display-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dm-serif-display-v5-latin-regular.svg#DMSerifDisplay') format('svg'); /* Legacy iOS */
  }
  
  body{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    
  }
  
  main{
    background: #FEF8F5;
  }

  footer{
    background: #FEF8F5;
  }

  section{
    background: #fef8f5;
  }

  footer.wrapper-foot{
   background: #fef8f5;
  }

   .top{
   
   background: #fef8f5;
  } 


  .wrapper{
      max-width: 1108px;
      margin-left: 294px;
      padding:  0 15px;
  }



  /* Header styles START */

  .header {
      position: absolute; /* FIXED сделай*/
      top: 0;
      left: 0;
      width: 100%;
      
  }

  .header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    
    display: flex;
    
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align:baseline;
        -ms-flex-align:baseline;
            align-items:baseline; /* Пока не точно */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

  .header__logo{
      padding-top: 47px;
  }

  .header__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 37px;
    color: #fff;
    list-style-type: none;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

  .header__item:first-child{
      margin-right: 97px;
  }

  .header__item:nth-child(2){
      margin-right: 104px;
  }

  .header__item:nth-child(3){
      margin-right: 76px;
  }
  
  .header__link{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
  }

  .header__link:hover, .header__link:focus, .header__link:active{
      opacity: .75; /* изменить под конец*/
  }

  .header__burger{
      display: none;
      width: 40px;
      height: 28px;
      position: relative;
      
  }

  .burger__line{
      display: block;
      width: 100%;
      height: 2px;
      background-color: rgb(0, 0, 0);
      position: absolute;
      left: 0;
  }

  .burger__line-first{
      top: 0;
  }

  .burger__line-second{
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
  }

  .burger__line-third{
      bottom: 0;
  }

  .button-contact-us{
    background: url(../img/Contact_us.svg) no-repeat center;
    border-radius: 5px;
    width: 158px;
    height: 60px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .button-contact-us:hover, .button-contact-us:focus, .button-contact-us:active{
      opacity: 1.25;
  }

  /* Header styles END */



  /* Introduction styles START */

  .introduction{
/      background: #FEF8F5; 
      min-height: 100vh;
      background: url(../img/Top_aaa.svg) no-repeat left center;
      background-size: cover;
      padding-top: 187px; 
  }

  .introduction__title{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100%;
    color: #fff;
    max-width: 741px;
    margin-bottom: 60px;
  }

  .introduction__button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }

  .button-get-started{
      background: url(../img/Get_started.svg) no-repeat left center;
      padding: 21px, 25px;
      border-radius: 5px;
      width: 220px;
      height: 60px;
  }

  .button-get-started:hover, .button-get-started:focus, .button-get-started:active{
      opacity: 0.75;
  }

  /* Introduction styles END */



  /* About Us styles START */

  .wrapper-about-us{
    margin-top: 142px;
    margin-bottom: 160px;
    width: 1170px;
    height: 550px;
    margin-left: 245px;
  }
  .about-us{
      width: 100%;
  }

  .about-us__about{
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 160px;
  }

  .about__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #EE4D47;
    margin-bottom: 40px;
  }

  .about__desc{
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: #402B2B;
    margin-bottom: 70px;
  }

  .about__desc-more{
    max-width: 570px;
    max-height: 160px;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #402B2B;
    background-color: #FCDDD4;
    border-left: 10px solid #ED4D47;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  /* About Us styles END */


  
  /* How-to-apply styles START */

  .wrapper-how-to-apply{
    max-width: 1232px;
    height: 678px;
    margin-left: 128px;
    margin-top: 0;
  }

  .how-to-apply{
      width: 100%;
  }

  .how-to-apply__apply{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 57px;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin-bottom: 120px;
  }

  .apply__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #EE4D47;
    margin-bottom: 40px;
  }

  .apply__desc{
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: #402B2B;
  }

  /* How-to-apply styles END */



  /* FAQ styles START */

  .wrapper-faq{
    max-width: 1360px;
    height: 1500px;
    margin-left: 240px;
    margin-bottom: 109px;
    /* border: 1px solid #FCDDD4; */
}

.faq__pic{
    background: url(../img/FAQ.svg) no-repeat left center;
    background-size: cover;
    width: 100%;
    height: 1500px;
}
  
.faq__info{
    /*border: 1px solid red;*/
    max-width: 550px;
    height: 294px;
    padding-top: 224px;
}

.faq__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #EE4D47;
    margin-bottom: 44px;
}

.faq__desc{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    color: #402B2B;
    max-width: 550px;
}

.faq-wrap-box {
  /*border: 1px solid #47ee7f;*/
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
  -ms-grid-columns: 550px 20px 550px;
  grid-template-columns: 550px 550px;
  -ms-grid-rows: 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px;
  grid-template-rows: 90px 90px 90px 90px 90px 90px;
  margin-top: 170px;
}

.faq-wrap-box > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.faq-wrap-box > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.faq-wrap-box > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.faq-wrap-box > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.faq-wrap-box > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.faq-wrap-box > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.faq-wrap-box > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.faq-wrap-box > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

.faq-wrap-box > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}

.faq-wrap-box > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
}

.faq-wrap-box > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
}

.faq-wrap-box > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
}

.box__row {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
            box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-left: 35px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.row__title{
    max-width: 400px;
}

.faq-wrap-box-first {
    width: 1120px;
    /*border: 1px solid #ED4D47; */
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 10px;
    -ms-grid-columns: 550px 20px 550px;
    grid-template-columns: 550px 550px;
    -ms-grid-rows: 90px;
    grid-template-rows: 90px;
    margin-top: 22px;
}

.faq-wrap-box-first > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.faq-wrap-box-first > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.row__text{
    -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
            box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-left: 35px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box-first__row{
    -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
            box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-left: 35px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../img/Rectangle_6.svg) no-repeat left center;
    border-radius: 10px;
}

 .row__img{
    width: 20px;
    position: absolute;
    padding-left: 460px;
} 

.dropbtn {
    background-color: #3498DB;
    color: white;
   
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: absolute;
    display: none;
  }
  
  .dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 550px;
    height: 160px;
   
    overflow: auto;
    
    margin-top: 250px;

    

    background: #FFF7F5;
    -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
            box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
    z-index: 1; 

    
  }

  .dropdown-content__text{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

    max-width: 480px;
    
    /* text */
    
    color: #402B2B;

    margin-top: 40px;
    margin-left: 35px;
  }
  
  .dropdown-content a {
    color: black;
    
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}

.active-img-none{
    display: none;
}

.active-img-block{
    display: block;
}

.row__img-plus{
    width: 20px;
    position: absolute;
    padding-left: 460px;
    cursor: pointer;
}

.row__img-minus{
    width: 20px;
    position: absolute;
    padding-left: 460px;
    cursor: pointer;
}


.show{
    display: block;
}

/* FAQ styles END */



/* Karusel style START */

.karusel{
    max-width: 1680px;
    height: 454px;
    margin-top: 177px;
    margin-left: 240px;
    /* border: 1px solid #47ee7f; */
    
    background: #fef8f5;
}

.title__nav-left{
    width: 30px;
    position: absolute;
    padding-left: 865px;
}

.title__nav-rigth{
    width: 30px;
    position: absolute;
    padding-left: 925px;
}

.karusel__title{ 
    
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title__text{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #EE4D47;
}

.title__text-next{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 44px; 
    max-width: 380px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    color: #402B2B;
}

/* Karusel style END */



/* Footer styles START */

.wrapper-sending{
    max-width: 1508px;
    max-height: 660px;
    
}

.form-sending__img{
  background: url(../img/Footer.png) no-repeat left center;
  background-size: cover;
  width: 1400px;
  height: 1000px;
}

.form-sending__text{
  margin-top: 280px;
  margin-left: 290px;
  position: absolute;
  color: #fff;
  max-width: 330px;
  max-height: 140px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-left: 10px solid #ED4D47;;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.send-form__info{
  display:flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 550px;
  height: 440px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  margin-left: 715px;
}

.send-form{
    display: flexbox;
    color: #000;
}

.wrapper-form{
    display: flexbox;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 75px;
  }

.name{
    padding-top: 52px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.email{
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-form__button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button__sending{
  background: url(../img/Get_started.svg) no-repeat left center;
  margin-top: 30px;
  border-radius: 5px;
  width: 220px;
  height: 60px;
}

.button__sending:hover, .button__sending:focus, .button__sending:active{
  opacity: 0.75;
}

label{
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
}

.footer__wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align:baseline;
      -ms-flex-align:baseline;
          align-items:baseline; /* Пока не точно */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo{
  padding-top: 47px;
}

.footer__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 37px;
  color: #fff;
  list-style-type: none;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.footer__item:first-child{
  margin-right: 97px;
}

.footer__item:nth-child(2){
  margin-right: 104px;
}

.footer__item:nth-child(3){
  margin-right: 76px;
}

.footer__link{
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #fff;
text-decoration: none;
}

.footer__link:hover, .footer__link:focus, .footer__link:active{
  opacity: .75; /* изменить под конец*/
}

/* Footer styles END */



/* Footer-wrapper-foot styles START */

.wrapper-foot{
    background-color: #fef8f5;
    max-width: 1108px;
    margin-left: 240px;
    /* border: 1px solid #47ee7f; */
    margin-top: 170px;
    background: #fef8f5;
}

.foot__desc-copy{
    /* border: 1px solid #b3d4fc; */
    width: 465px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.foot__desc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align:baseline;
        -ms-flex-align:baseline;
            align-items:baseline; /* Пока не точно */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 92px;
}

.foot__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 37px;
    color: #fff;
    list-style-type: none;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin-left: 390px;
    width: 170px;
}

.foot__item:first-child{
    margin-right: 31px;
}

.foot__item:nth-child(2){
    margin-right: 31px;
}

.foot__item:last-child{
    margin-right: 0;
}

.foot__nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Footer-wrapper-foot styles END */



/* Media START */

@media screen and (max-width: 1300px){
    .header__burger{
        display: block;
    }

    .header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
    }

    .header__nav-active{
        transform: translateX(0);
        transition: .2s all linear;
    }

    .header__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__item:last-child{
        margin-bottom: 0;
    }

    .header__link{
        font-size: 42px;
        line-height: 48px;
    }

    .header__nav-close{
        width: 40px;
        height: 2px;
        position: absolute;
        top: 100px;
        right: 300px;
        z-index: 11;
    }
    
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 10px;
        background-color: #fff;
        color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

    /* About Us START*/

    .wrapper-about-us{
        margin-top: 142px;
        margin-bottom: 142px;
        max-width: 1300px;
        height: 550px;
        margin-left: 50px;
      }

    .about-us{
        width: 100%;
    }
  
    .about-us__about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 25px;
        align-items: center;
        margin-bottom: 0;
    }
  
    .about__title{
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      color: #EE4D47;
      margin-bottom: 20px;
    }
  
    .about__desc{
      font-weight: 300;
      font-size: 18px;
      line-height: 40px;
      color: #402B2B;
      margin-bottom: 70px;
    }
  
    .about__desc-more{
      max-width: 570px;
      max-height: 160px;
  
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #402B2B;
      background-color: #FCDDD4;
      border-left: 10px solid #ED4D47;
  
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 50px;
    }

    .wrapper-how-to-apply{
        width: 1170px;
        height: 550px;
        margin-left: 0;
        margin-top: 0;
    }

    /* About Us END */

    /* Apply START */

    .wrapper-how-to-apply{
        max-width: 1300px;
        height: 678px;
        margin-left: 0;
        margin-top: 0;
      }
    
      .how-to-apply{
          width: 100%;
      }
    
      .how-to-apply__apply{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0 57px;
          align-items:center;
          margin-bottom: 120px;
      }
    
      .apply__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #EE4D47;
        margin-bottom: 40px;
      }
    
      .apply__desc{
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        color: #402B2B;
      }

      /* Apply END */

      /* FAQ START */

      .wrapper-faq{
        max-width: 1300px; /* изменил */
        height: 1500px;
        margin-left: 50px; /* изменил */
        margin-bottom: 109px;
    }
    
    .faq__pic{
        background: url(../img/FAQ.svg) no-repeat left center;
        background-size: cover;
        width: 100%;
        height: 1500px;
    }
      
    .faq__info{
        /*border: 1px solid red;*/
        max-width: 550px;
        height: 294px;
        padding-top: 224px;
    }
    
    .faq__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #EE4D47;
        margin-bottom: 44px;
    }
    
    .faq__desc{
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 140%;
        color: #402B2B;
        max-width: 550px;
    }
    
    .faq-wrap-box {
      /*border: 1px solid #47ee7f;*/
      display: grid;
      column-gap: 20px;
      row-gap: 10px;
      grid-template-columns: 550px 550px;
      grid-template-rows: 90px 90px 90px 90px 90px 90px;
      margin-top: 170px;
    }
    
    .box__row {
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        padding-left: 35px;
        color: #000;
        display: flex;
        align-items: center;
        max-width: 550px;
    }
    
    .row__title{
        min-width: 400px;
    }
    
    .faq-wrap-box-first {
        width: 1120px;
        /*border: 1px solid #ED4D47; */
        display: grid;
        column-gap: 20px;
        row-gap: 10px;
        grid-template-columns: 550px 550px;
        grid-template-rows: 90px;
        margin-top: 22px;
    }
    
    .row__text{
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        padding-left: 35px;
        color: #000;
        display: flex;
        align-items: center;
    }
    
    .box-first__row{
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        padding-left: 35px;
        color: #000;
        display: flex;
        align-items: center;
        background: url(../img/Rectangle_6.svg) no-repeat left center;
        border-radius: 10px;
    }


    .row__img{
        width: 20px;
        position: absolute;
        padding-left: 220px;
    }


    
    /* FAQ END*/

    /* Karusel START */
    
    .karusel{
        max-width: 1300px; /* */
        height: 454px;
        margin-top: 177px;
        margin-left: 50px; /* */
        margin-bottom: 160px;
    }
    
    .title__nav-left{
        width: 30px;
        position: absolute;
        padding-left: 865px;
    }
    
    .title__nav-rigth{
        width: 30px;
        position: absolute;
        padding-left: 925px;
    }
    
    .karusel__title{ 
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #000;
        display: flex;
        align-items: center;
    }
    
    .title__text{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #EE4D47;
    }
    
    .title__text-next{
        display: flex;
        margin-top: 44px; 
        max-width: 380px;
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 140%;
        color: #402B2B;
    }

    .owl-carousel{
        margin-left: 50px;
        width: 1000px;
    }

    /* Karusel END */

    /* forn START */

    .wrapper-sending{
        max-width: 1300px;
        max-height: 660px;
        
    }
  
    .form-sending__img{
      background: url(../img/Footer.png) no-repeat left center;
      background-size: cover;
      max-width: 1300px;
      height: 1000px;
    }
  
    .form-sending__text{
      margin-top: 280px;
      margin-left: 190px;
      position: absolute;
      color: #fff;
      max-width: 330px;
      max-height: 140px;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      border-left: 10px solid #ED4D47;;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 50px;
    }

    /* form END*/

    /* foot START */

    .wrapper-foot{
        max-width: 1300px;
        margin-left: 240px;
        /* border: 1px solid #47ee7f; */
        margin-top: 170px;
    }
    
    .foot__desc-copy{
        /* border: 1px solid #b3d4fc; */
        width: 465px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
    }
    
    .foot__desc{
        display: flex;
        flex-wrap: wrap;
        align-items:baseline; /* Пока не точно */
        justify-content: start;
        margin-bottom: 92px;
        margin-left: 0;
        width: 1000px;
    }
    
    .foot__list{
        display: flex;
        flex-wrap: wrap;
        padding-top: 37px;
        color: #fff;
        list-style-type: none;
        align-items:center;
        margin-left: 190px;
        width: 170px;
    }
    
    /* foot END*/
}


@media screen and (max-width: 768px){
    
    .wrapper{
        max-width: 100%;
        margin-left: 50px;
    }

    .header__nav-close{
        width: 40px;
        height: 2px;
        position: absolute;
        top: 100px;
        right: 250px;
        z-index: 11;
    }
    
    .introduction{
        
        height: 1024px;
        background: url(../img/Top_aaa.svg) no-repeat left center;
        background-size: cover;
        padding-top: 300px;
        width: 100%; 
    }
  
    .introduction__title{
      font-family: DM Serif Display;
      font-style: normal;
      font-weight: normal;
      font-size: 70px;
      line-height: 100%;
      color: #fff;
      max-width: 700px;
      margin-bottom: 60px;
    }

    .wrapper-about-us{
        margin-top: 142px;
        margin-bottom: 100px;
        max-width: 768px;
        /* height: 550px; */
        margin-left: 15px;
      }
      .about-us{
          width: 100%;
      }

      .about__thumb{
          max-width: 370px;
      }
    
      .about-us__about{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0 15px;
          align-items:flex-start;
          margin-bottom: 160px;
      }
    
      .about__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #EE4D47;
        margin-bottom: 40px;
      }
    
      .about__desc{
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        color: #402B2B;
        margin-bottom: 70px;
      }
    
      .about__desc-more{
        max-width: 100%;
        max-height: 160px;
    
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #402B2B;
        background-color: #FCDDD4;
        border-left: 10px solid #ED4D47;
    
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 30px;
      }

      .wrapper-how-to-apply{
        max-width: 768px;

        margin-left: 0;
        margin-top: 0;
      }
    
      .how-to-apply{
          width: 100%;
      }
      
      .apply__thumb{
          max-width: 376px;
      }
    
      .how-to-apply__apply{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0 15px;
          align-items:flex-start;
          margin-bottom: 100px;
      }
    
      .wrapper-faq{
        max-width: 768px;
        margin: 0auto;
        /* border: 1px solid #FCDDD4; */
    }
    
    .faq__pic{
        background: url(../img/FAQ.svg) no-repeat left center;
        background-size: cover;
        width: 100%;
        max-height: 1400px;
        
    }
      
    .faq__info{
        /*border: 1px solid red;*/
        max-width: 500px;
        height: 294px;
        padding-top: 224px;
    }
    
    .faq__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #EE4D47;
        margin-bottom: 44px;
    }
    
    .faq__desc{
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 100%;
        color: #402B2B;
        max-width: 550px;
    }
    
    .faq-wrap-box {
      /*border: 1px solid #47ee7f;*/
      display: grid;
      column-gap: 20px;
      row-gap: 10px;
      grid-template-columns: 300px 300px;
      grid-template-rows: 90px 90px 90px 90px 90px 90px;
      margin-top: 170px;
    }
    
    .box__row {
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        padding-left: 10px;
        color: #000;
        display: flex;
        align-items: center;
    }
    
    .row__title{
        min-width: 250px;
    }
    
    .faq-wrap-box-first {
        width: 700px;
        /*border: 1px solid #ED4D47; */
        display: grid;
        column-gap: 20px;
        row-gap: 10px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 90px;
        margin-top: 22px;
        margin-left: 10px;
    }
    
    .row__text{
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        padding-left: 35px;
        color: #000;
        display: flex;
        align-items: center;
    }
    
    .box-first__row{
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        line-height: 10px;
        padding-left: 0;
        color: #000;
        display: flex;
        align-items: center;
        background: url(../img/Rectangle_6.svg) no-repeat center center;
        border-radius: 10px;
    }
    
    .row__img{
        width: 20px;
        position: absolute;
        padding-left: 220px;
    }

    .row__img-plus{
        width: 20px;
        position: absolute;
        padding-left: 260px;
    }

    .row__img-minus{
        width: 20px;
        position: absolute;
        padding-left: 260px;
    }

    .karusel{
        max-width: 768px;
        height: 454px;
        margin-top: 100px;
        margin-left: 15px;
        /* border: 1px solid #47ee7f; */
        margin-bottom: 160px;
    }
    
    .title__nav-left{
        width: 30px;
        position: absolute;
        padding-left: 600px;
    }
    
    .title__nav-rigth{
        width: 30px;
        position: absolute;
        padding-left: 660px;
    }
    
    .karusel__title{ 
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #000;
        display: flex;
        align-items: center;
    }
    
    .title__text{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #EE4D47;
    }
    
    .title__text-next{
        display: flex;
        margin-top: 44px; 
        max-width: 380px;
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 140%;
        color: #402B2B;
    }

    .wrapper-sending{
        max-width: 768px;
        max-height: 660px;
        
    }
  
    .form-sending__img{
      background: url(../img/Footer.png) no-repeat left center;
      background-size: cover;
      max-width: 768px;
      height: 1000px;
    }
  
    .form-sending__text{
      margin-top: 280px;
      margin-left: 20px;
      position: absolute;
      color: #fff;
      max-width: 300px;
      max-height: 140px; 
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      border-left: 10px solid #ED4D47;;
      padding-left: 10px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 50px;
    }

    .send-form__info{
        display:flexbox;
        flex-wrap: wrap;
        max-width: 700px;
        height: 440px;
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        margin-left: 315px;
      }


      
    /* form END*/

    /* foot START */

    .wrapper-foot{
        max-width: 768px;
        margin-left: 10px;
        /* border: 1px solid #47ee7f; */
        margin-top: 170px;
        margin-bottom: 100px;
    }
    
    .foot__desc-copy{
        /* border: 1px solid #b3d4fc; */
        width: 300px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
    }
    
    .foot__desc{
        display: flex;
        flex-wrap: wrap;
        align-items:baseline; /* Пока не точно */
        justify-content: start;
        margin-bottom: 92px;
        margin-left: 90px;
        width: 670px;
    }
    
    .foot__list{
        display: flex;
        flex-wrap: wrap;
        padding-top: 37px;
        color: #fff;
        list-style-type: none;
        align-items:center;
        margin-left: 0;
        width: 170px;
    }

    .foot__nav{
        max-width: 170px;
    }
    
    /* foot END*/

}

@media screen and (max-width: 480px){
    
    
    .wrapper{
        width: 100%;
        margin-right: 200px;
    }

    .header__wrapper{
        justify-content: start;
    }
    .header__burger{
        
        margin-left: 100px;
    }

    .header__nav-close{
        right: 350px;
    }

    .introduction__title{
        font-size: 50px;
        max-width: 400px;
        margin-bottom: 100px;
    }

    .wrapper-about-us{
        max-width: 480px;
        margin-left: 10px;
    }

    .about__thumb{
        max-width: 250px;
    }

    .about-us__about{
        grid-gap: 0 5px;
    }

    .about__title{
        font-size: 18px;
    }

    .about__desc{
        font-size: 14px;
        margin-bottom: 30px;
    }

    .about__desc-more{
        font-size: 14px;
    
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .wrapper-how-to-apply{
        max-width: 480px;

        margin-left: 0;
        margin-top: 0;
    }

    .apply__thumb{
        max-width: 250px;
    }

    .how-to-apply__apply{
        grid-gap: 0 5px;
    }

    .apply__title{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .apply__desc{
        font-size: 14px;
    }

    .wrapper-faq{
        max-width: 480px;
        max-height: 1200px;
        margin-left: 10px;
    }

    .faq__pic{
        
        max-height: 1200px;
        margin-bottom: 0;
    }

    .faq__info{
        /*border: 1px solid red;*/
        max-width: 200px;
        height: 294px;
        padding-top: 224px;
    }

    .faq__title{
        font-size: 18px;
        margin-bottom: 44px;
    }

    .faq__desc{
        font-size: 22px;
        max-width: 220px;
    }

    .faq-wrap-box {
        column-gap: 10px;
        row-gap: 5px;
        grid-template-columns: 210px 210px;
        grid-template-rows: 80px 80px 80px 80px 80px 80px;
        margin-top: 130px;
    }

    .box__row {
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 30px;
        padding-left: 5px;
        color: #000;
        display: flex;
        align-items: center;
        max-width: 210px;
    }

    .row__title{
        min-width: 200px;
        max-height: 70px;
    }
    
    .faq-wrap-box-first {
        width: 210px;
        /*border: 1px solid #ED4D47; */
        display: grid;
        column-gap: 10px;
        row-gap: 5px;
        grid-template-columns: 210px 210px;
        grid-template-rows: 80px;
        margin-top: 22px;
        margin-left: 5px;
    }

    .box-first__row{

        font-size: 12px;
        line-height: 30px;
    }

    .row__img{
        width: 10px;
        position: absolute;
        padding-left: 190px;
    }

    .row__img-plus{
        width: 10px;
        position: absolute;
        padding-left: 190px;
    }

    .row__img-minus{
        width: 10px;
        position: absolute;
        padding-left: 190px;
    }

    .dropdown-content{
        width: 230px;
        height: 60px;

        margin-top: 100px;
    }

    .dropdown-content__text{
    font-size: 12px;
    line-height: 30px;
    max-width: 230px;
    color: #402B2B;
    margin-top: 0;
    margin-left: 15px;
    }

    .karusel{
        max-width: 480px; /* */
        height: 200px;
        margin-top: 0;
        margin-left: 50px; /* */
        margin-bottom: 50px;
    }

    .karusel__title{
        background: none;
        box-shadow:none;
    }
    
    .title__nav-left{
        width: 30px;
        position: absolute;
        padding-left: 865px;
    }
    
    .title__nav-rigth{
        width: 30px;
        position: absolute;
        padding-left: 925px;
    }

    .carousel-control-prev{
        left: 0;
        margin-left: 181px;
    }
    
    .carousel-control-next{
        /* margin-right: 340px; */
        left: 0;
        margin-left: 341px;
    }

    .title__text{
        font-size: 18px;
    }

    .title__text-next{
        display: flex;
        max-width: 100px;
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        margin-top: 0;
        color: #402B2B;
    }

    .carousel-inner w-100{
        max-width: 350px;
        
    }

    .img-fluid{
        width: 100%;
        height: 100px;
    }

    .wrapper-sending{
        max-width: 480px;
        max-height: 660px;
    }

    

    .form-sending__img{
        background: url(../img/Footer.png) no-repeat left center;
        background-size: cover;
        max-width: 480px;
        height: 1000px;
    }

    .form-sending__text{
        margin-top: 400px;
        margin-left: 45px;
        position: absolute;
        color: #fff;
        max-width: 300px;
        max-height: 140px;
        font-weight: normal;
        font-size: 12px;
        line-height: 30px;
        border-left: 10px solid #ED4D47;;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .send-form__info{
        margin-left: 150px;
        max-height: 400px;
    }

    .wrapper-foot{
        max-width: 480px;
        margin-left: 10px;
        /* border: 1px solid #47ee7f; */
        margin-top: 100px;
    }
    
    .foot__desc-copy{
        /* border: 1px solid #b3d4fc; */
        width: 200px;
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
    }
    
    .foot__desc{
        display: flex;
        flex-wrap: wrap;
        align-items:baseline; /* Пока не точно */
        justify-content: start;
        margin-bottom: 92px;
        margin-left: 0;
        width: 380px;
    }
    
    .foot__list{
        display: flex;
        
        padding-top: 37px;
        color: #fff;
        list-style-type: none;
        align-items:center;
    
        width: 437px;
    }

    .foot__nav{
        display: flex;
        flex-wrap: wrap;
        width: 430px;
    }
      
}

/* Media END */


/* Hidden style START */

.row__hidden{
    display: none;
    content: "что-то";
    color: #000;
}

.hid:active {
    display: block;
}

/* Hidden style END */

.img-fluid{
    max-width: 420px;
}

span.carousel-control-next-icon{
    background-image: url(../img/Union-right.svg) ;
    background-size: cover;
    width: 30px;
    height: 12px;
    margin-left: 100px;
}

span.carousel-control-prev-icon{
    background-image: url(../img/Union-left-tmp.svg) ;
    background-size: cover;
    width: 30px;
    height: 12px;
}

.carousel-control-prev{
    left: 0;
    margin-left: 381px;
}

.carousel-control-next{
    /* margin-right: 340px; */
    left: 0;
    margin-left: 441px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    
    margin-bottom: 370px; /* margin-bottom 320, 420*/
    background-size: cover;
    margin-left: 100px;

}


.container{
    width: 1920px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: 0;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    
}

.container{
    margin-left: 0;
    padding-left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.text-center{
    text-align: left!important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.title__text-next{
    margin-left: 0;
}

.container text-center my-3{
    
    text-align: left!important;
}

.carousel slide w-100{
    width: 100%;
    margin-left: 0;
}

.cont-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
